@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="output">Oopsss!Babel is not working....</div>

</div>
@section scripts{
    <!-- Your custom script here -->
    <script type="text/babel">
        const getMessage = () => "Wow,Babel is working...!!!";
        document.getElementById('output').innerHTML = getMessage();
        $.getScript("/js/site.js",function(data){
           var output = Babel.transform(data, { presets: ['es2015'] }).code
           console.log('Scripts loaded successfully');
           console.log(output);

        });
    </script>
}